{% extends "PVCoreBundle:Default:layout.html.twig" %}

{% block coreBody %}
    <div id="videos">
        <h2>Catégorie : {{ categorie.nom }}</h2>
        <p>Description de la catégorie : {{ categorie.description }}</p>
        {{ include("@PVPlateforme/Plateforme/videosListe.html.twig") }}

    </div>
{% endblock %}